@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.home_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16vw;
  letter-spacing: 4px;
  opacity: 0;
}

.home_title--visible {
  font-family: 'Montserrat', sans-serif;
  font-size: 16vw;
  letter-spacing: 4px;
  animation: fade 3s linear;
}

.home_title--visible--minimize {
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw;
  letter-spacing: 4px;
  animation: minimize 0.75s linear forwards;
}

.home_title--purple {
  color: #792262;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes minimize {
  from {
    font-size: 16vw;
    transform: translate(0, 0);
  }

  to {
    font-size: 5vw;
    transform: translate(-50px, -100px);
  }
}
