.home_socials {
  position: fixed;
  padding: 8px 0px 0px 8px;
  opacity: 0;
}

.home_socials--visible {
  position: fixed;
  padding: 8px 0px 0px 8px;
  animation: fade 1s linear;
}

.home_socials-icon {
  color: #792262;
  font-size: 2vw;
  padding-right: 16px;
  opacity: 0;
}

.home_socials-icon--visible {
  color: #792262;
  font-size: 2vw;
  padding-right: 16px;
  animation: bounceAppear 1s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounceAppear {
  0% {
    opacity: 1;
    font-size: 0.1vw;
  }

  50% {
    opacity: 1;
    font-size: 3vw;
  }

  100% {
    opacity: 1;
    font-size: 2vw;
  }
}

@media only screen and (max-width: 450px) {
  .home_socials-icon {
    color: #792262;
    font-size: 4vw;
    padding-right: 16px;
  }

  .home_socials-icon--visible {
    color: #792262;
    font-size: 4vw;
    padding-right: 16px;
    animation: bounceAppear 1s forwards;
  }

  @keyframes bounceAppear {
    0% {
      opacity: 1;
      font-size: 0.1vw;
    }

    50% {
      opacity: 1;
      font-size: 6vw;
    }

    100% {
      opacity: 1;
      font-size: 4vw;
    }
  }
}
